doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        //-meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title 404
        link(rel="stylesheet", href="./css/pages/reset.css")
        link(rel="stylesheet", href="./css/pages/header.css")
        link(rel="stylesheet", href="./css/pages/page404.css")
        link(rel="stylesheet", href="./css/pages/footer.css")
        script(src="https://kit.fontawesome.com/b4b7fd911f.js")
    body
        header
            include ../header/_headerTop.jade
            // End Top Header 
            include ../header/_headerBottom.jade
            // End Bottom Header

        main
            .page__img
                img(src="./images/page404.png", alt="page404")
            .page__content.container
                .page__logo
                    img(src="./images/Logopage404.png", alt="Logopage404")
                ul.page__link
                    li
                        a(href="#") Trang chủ&nbsp;
                            i.fas.fa-caret-right
                    li
                        a(href="#") Liên hệ&nbsp;
                            i.fas.fa-caret-right
                    li
                        .page__input
                            i.fas.fa-search
                            input(type="text")

        footer
            include ../footer/_footer.jade
            