* {
  font-family: 'Times New Roman', Arial;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}

.breadcrumb {
  overflow: hidden;
  margin: 20px auto;
}

.breadcrumb li {
  float: left;
}

.breadcrumb li:last-child a {
  color: #E6AE48;
}

.breadcrumb a {
  font-size: 14px;
  color: #818181;
}

.title__block {
  margin: 20px auto;
  font-size: 21px;
  color: #000;
  text-align: center;
  padding-bottom: 10px;
  background-image: url(../../images/title-dark.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.title__arrow {
  font-size: 25px;
  color: #000;
  display: inline-block;
  padding-bottom: 15px;
  background-image: url(../../images/titleleft-dark.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
}

.btn__cart {
  font-size: 12px;
  color: #fff;
  background: #000;
  padding: 10px 15px;
}

.btn__list {
  background-color: #fff;
  color: #818181;
  border: 1px solid #E6E6E6;
  margin: 3px 0;
}

.btn__list:hover {
  color: #fff;
  background-color: #E6AE48;
}

.btn__more {
  background-color: transparent;
  color: #a7a7a7;
  padding-left: 0;
}

.contact {
  margin-top: 20px;
}

.contact__logo {
  width: 150px;
}

.contact__logo img {
  width: 100%;
}

.contact__content div {
  margin-bottom: 10px;
  color: #818181;
}

.contact__content .fas {
  margin-right: 5px;
}

.contact__follow {
  margin: 20px 0;
}

.contact__follow a {
  color: #818181;
  padding: 3px;
}

.contact__title {
  color: #818181;
  margin-bottom: 5px;
}

.contact_form {
  margin: 20px 0;
}

.contact_form form div {
  overflow: hidden;
  margin-bottom: 10px;
}

.contact_form form div.contact__btn {
  padding-left: 21%;
}

.contact_form form span {
  float: left;
  width: 20%;
}

.contact_form form input, .contact_form form textarea {
  padding: 4px 8px;
  border: 1px solid #C1C1C1;
  float: right;
  width: 79%;
  background-color: #E6E6E6;
}

@media screen and (min-width: 480px) {
  .contact_map iframe {
    height: 360px;
  }
}

@media screen and (min-width: 576px) {
  .contact_map iframe {
    height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact_map {
    -ms-flex-preferred-size: 72%;
        flex-basis: 72%;
  }
  .contact_map iframe {
    height: 400px;
  }
  .contact_address {
    -ms-flex-preferred-size: 26%;
        flex-basis: 26%;
  }
  .contact_form {
    width: 72%;
  }
}
/*# sourceMappingURL=contact.css.map */